/* --- BUTTONS --- */
#forward-button {
  display: none !important;
}

/* --- TABS --- */
/* Show Close Button on active Tab and Mouseover */
#TabsToolbar .tabbrowser-tab[selected="true"]:not([pinned]) .close-icon {
  display: -moz-box !important;
}

#TabsToolbar .tabbrowser-tab:not([selected="true"]):not([pinned]):hover .close-icon {
  display: -moz-box !important;
}

.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
}

/* Gradient outline tabs */
.tab-background[selected] {
  outline: none !important;
  border: 2px solid transparent !important;
  background-color: #623b99;
  box-shadow: none !important;
  background-clip: padding-box;
}
.tab-background[selected] > .tab-context-line {
  margin: -5px 0 0 !important;
}
.tabbrowser-tab[selected] > .tab-stack::before {
  content: "";
  grid-area: 1/1;
  margin-block: var(--tab-block-margin);
  /* Edit gradient colors here */
  background: repeat linear-gradient(90deg, #61d6c6, #55b8e2) !important;
}

.tabbrowser-tab {
  border-radius: 16px !important;
}

/* Tabs below urlbar */
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}

/* This one is the spacer between tabs and border  */
.titlebar-spacer {
  display: none !important;
}

/* --- URL Bar --- */
/* Search Bar */
#urlbar-input-container,
#searchbar,
#urlbar-container #urlbar-background {
  border-radius: 16px !important;
}

#urlbar .urlbar-input-box {
  text-align: center;
  vertical-align: middle;
}

#urlbar-container #urlbar {
  --urlbar-height: 30px !important;
  --urlbar-min-height: 32px !important;
  transition-duration: 50ms;
}

/* --- Auto hide  Buttons inside URL bar --- */
#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > :is(#page-action-buttons) {
  opacity: 0;
  transition-delay: 400ms;
}

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  #identity-icon-box:not([open]),
#notification-popup-box:not([open]) .notification-anchor-icon {
  opacity: 0;
  transition-delay: 400ms;
}

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container
  > #identity-box
  #identity-permission-box:not([open]) {
  opacity: 0;
  transition-delay: 400ms;
}

#page-action-buttons,
#identity-permission-box,
#notification-popup-box .notification-anchor-icon {
  transition: opacity 0.2s ease;
}

#page-action-buttons #star-button-box,
#tracking-protection-icon-box {
  visibility: hidden !important;
  transition: 300ms !important;
  opacity: 0 !important;
  -moz-margin-end: -1.4em !important;
}

#tracking-protection-icon-container:hover #tracking-protection-icon-box,
#page-action-buttons:hover #star-button-box {
  visibility: visible !important;
  transition: 300ms !important;
  opacity: 1 !important;
  -moz-margin-end: initial !important;
}

#urlbar-input-container #identity-box > .identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 16px !important;
  -moz-window-shadow: none !important;
}

/* --- Context menu --- */
menupopup {
  border-radius: 16px;
  -moz-appearance: none !important;
  overflow: -moz-hidden-unscrollable !important;
  -moz-window-shadow: none !important;
}

/* general right click menu */
#context-bookmarkpage,
#context-savepage,
#context-pocket,
#context-sep-viewbgimage,
#context-selectall,
#context-viewsource,
#context-viewinfo,

/* selected links */
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelinktopocket,
#context-inspect,

/*Removes Items from Tab Context Menu*/
#context_reloadTab,
#context_openTabInWindow,
#context_sendTabToDevice_separator,
#context_reloadAllTabs,
#context_bookmarkAllTabs,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
#context_closeTab {
  display: none !important;
}
