/* --- TABS --- */
/* Show Close Button on active Tab and Mouseover */
#TabsToolbar .tabbrowser-tab[selected="true"]:not([pinned]) .close-icon {
  display: block !important;
  border-radius: 50%;
}

#TabsToolbar .tabbrowser-tab:not([selected="true"]):not([pinned]):hover .close-icon {
  display: block !important;
  border-radius: 50%;
}

.tabbrowser-tab:not([pinned]) .tab-close-button {
  display: none !important;
  border-radius: 50%;
}

.tab-close-button.close-icon {
  border-radius: 50%;
}

/* Gradient outline tabs */
.tab-background[selected] {
  outline: none !important;
  border: 2px solid transparent !important;
  background-color: #623b99;
  box-shadow: none !important;
  background-clip: padding-box;
}
.tab-background[selected] > .tab-context-line {
  margin: -5px 0 0 !important;
}
.tabbrowser-tab[selected] > .tab-stack::before {
  content: "";
  grid-area: 1/1;
  margin-block: var(--tab-block-margin);
  /* Edit gradient colors here */
  background: repeat linear-gradient(90deg, #61d6c6, #55b8e2) !important;
}

.tabbrowser-tab {
  border-radius: 16px !important;
}

/* Tabs below urlbar */
#titlebar {
  order: 3 !important;
}

/* This one is the spacer between tabs and border  */
.titlebar-spacer {
  display: none !important;
}

/* --- URL Bar --- */
/* Search Bar */
#urlbar-input-container,
#searchbar,
#urlbar-container #urlbar-background {
  border-radius: 16px !important;
}

#urlbar .urlbar-input-box {
  text-align: center;
  vertical-align: middle;
}

#urlbar-container #urlbar {
  --urlbar-height: 30px !important;
  --urlbar-min-height: 32px !important;
  transition-duration: 50ms;
}

/* --- Auto hide  Buttons inside URL bar --- */
/* based on: https://github.com/datguypiko/Firefox-Mod-Blur/ */

#nav-bar:not([customizing="true"]):not(.searchButton)
  > #nav-bar-customization-target
  > #urlbar-container:not(:hover)
  > #urlbar:not([focused])
  > #urlbar-input-container {
  #page-action-buttons .urlbar-page-action,
  #tracking-protection-icon-container,
  #identity-box > #identity-icon-box:not([open]),
  #identity-permission-box:not([open]) {
    opacity: 0;
    margin-inline-start: calc(-16px - var(--urlbar-icon-padding));
  }
}

#page-action-buttons .urlbar-page-action,
#tracking-protection-icon-container,
#identity-icon-box,
#notification-popup-box .notification-anchor-icon {
  transition: 0.2s ease;
}

#urlbar-input-container #identity-box > .identity-box-button,
#tracking-protection-icon-container,
#urlbar-go-button,
#page-action-buttons .urlbar-page-action,
#notification-popup-box {
  border-radius: 16px !important;
}

#urlbar-zoom-button {
  background-color: var(--firefoxcss-item-bg-color) !important;
}

/* Edge-Frfox - browser.css
 * https://github.com/bmFtZQ/edge-frfox */

/* Windows has 1px missing space on top of window, but not when accent colour is
 * applied to the title bar. */
@media (-moz-platform: windows) and (not (-moz-windows-accent-color-in-titlebar)) {
  :root[sizemode="normal"][tabsintitlebar]:not([inFullscreen]) #navigator-toolbox {
    padding-top: 1px !important;
  }
}

/* Add a shadow when the toolbars move over content, eg. in macOS hovering over
 * the menu bar in fullscreen mode. */
#navigator-toolbox[style*="transform"] {
  box-shadow: 0 -3px 5px 3px light-dark(rgb(0 0 0 / 0.3), rgb(0 0 0 / 0.6)) !important;
}

/* Rounded Corners Tweak */
@media (-moz-bool-pref: "uc.tweak.rounded-corners") {
  /* Since Firefox 120, when the bookmarks bar is set to only open on new tabs,
   * the bookmarks bar overlaps the #browser element. */

  /* Change the element that shifts the browser content to the correct position. */
  #main-window[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel,
  #main-window[BookmarksToolbarOverlapsBrowser] #sidebar-box {
    padding-top: 0 !important;
  }

  #main-window[BookmarksToolbarOverlapsBrowser] #browser {
    margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
  }

  /* Make sure that the toolbars are not positioned in-front of the browser
   * element. */
  #main-window[BookmarksToolbarOverlapsBrowser] #navigator-toolbox:not([style*="z-index"]) {
    z-index: auto !important;
  }

  /* Move the browser element in-front of the toolbars when on the new tab page. */
  #main-window:not([BookmarksToolbarOverlapsBrowser]) #browser {
    z-index: 1 !important;
  }

  /* Variables used for the rounded corners. */
  #main-window:not([chromehidden~="toolbar"]) {
    --uc-tweak-rounded-corners-padding: 2px;
    --uc-tweak-rounded-corners-radius: 12px;
    --browser-frame-bgcolor: var(--toolbar-bgcolor, var(--lwt-accent-color));
  }

  /* Remove separator between toolbars and the browser window. */
  #navigator-toolbox {
    border-bottom: none !important;
  }

  /* Disable rounded corners in fullscreen, only if the toolbar is hidden. */
  :root[inFullscreen] #navigator-toolbox[style*="margin-top"] + #browser,
  :root[inDOMFullscreen] #browser {
    --uc-tweak-rounded-corners-padding: 0;
    --uc-tweak-rounded-corners-radius: 0;
  }

  /* Apply rounded corners to the browser container. */
  #appcontent .browserStack {
    margin-inline: var(--uc-tweak-rounded-corners-padding) !important;
    margin-block-end: var(--uc-tweak-rounded-corners-padding) !important;
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;
    background-color: var(--tabpanel-background-color) !important;
    position: relative !important;

    /* Use pseudo element overlay to simulate rounded corners, similar to the
     * tab corners, fixes bug with backdrop-filter. */
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      /* Draw toolbar background on the negative corner space, then draw the
       * same shadow from the browser window on top. */
      box-shadow: var(--uc-tweak-rounded-corners-shadow, 0 0 transparent),
        0 0 0 16px var(--browser-frame-bgcolor) !important;
      clip-path: inset(0);
      pointer-events: none;
    }
  }

  /* Prevent status panel corners and shadow from appearing outside the browser. */
  #statuspanel {
    overflow: hidden;
  }

  /* Apply rounded corners to sidebar. */
  #sidebar-box {
    margin-inline-start: var(--uc-tweak-rounded-corners-padding) !important;
    margin-block-end: var(--uc-tweak-rounded-corners-padding) !important;
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
    overflow: hidden !important;
    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;

    &[positionend] {
      margin-inline-start: 0 !important;
      margin-inline-end: var(--uc-tweak-rounded-corners-padding) !important;
    }
  }

  /* Devtools window when docked to the left or right. */
  .devtools-toolbox-side-iframe {
    margin-block-end: var(--uc-tweak-rounded-corners-padding) !important;
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
    overflow: hidden !important;
    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;

    /* Devtools window when docked to the left. */
    &:first-child {
      margin-inline-start: var(--uc-tweak-rounded-corners-padding) !important;
    }

    /* Devtools window when docked to the right. */
    &:last-child {
      margin-inline-end: var(--uc-tweak-rounded-corners-padding) !important;
    }
  }

  /* Devtools window when docked to the bottom. */
  .devtools-toolbox-bottom-iframe {
    margin: var(--uc-tweak-rounded-corners-padding) !important;
    margin-block-start: 0 !important;
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
    overflow: hidden !important;
    box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;
  }

  /* Hide devtools splitter. */
  .devtools-side-splitter,
  .devtools-horizontal-splitter {
    background-color: transparent !important;
  }

  /* Remove sidebar border when not in full screen. */
  :not(:root[inFullscreen] #navigator-toolbox[style*="margin-top"]) + #browser #sidebar-splitter {
    border-inline-width: 0 !important;
  }

  /* Apply colour to the frame around the browser window. */
  #browser {
    background-color: var(--browser-frame-bgcolor);
  }

  /* Change colour of page when loading */
  #tabbrowser-tabpanels {
    background-color: transparent !important;
  }
}

/* --- Context menu --- */
menupopup {
  border-radius: 16px;
  overflow: -moz-hidden-unscrollable !important;
}

/* general right click menu */
#context-bookmarkpage,
#context-savepage,
#context-pocket,
#context-sep-viewbgimage,
#context-selectall,
#context-viewsource,
#context-viewinfo,

/* selected links */
#context-openlinkinusercontext-menu,
#context-bookmarklink,
#context-savelinktopocket,
#context-inspect,

/*Removes Items from Tab Context Menu*/
#context_reloadTab,
#context_openTabInWindow,
#context_sendTabToDevice_separator,
#context_reloadAllTabs,
#context_bookmarkAllTabs,
#context_closeTabsToTheEnd,
#context_closeOtherTabs,
#context_closeTab {
  display: none !important;
}
