[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[AppletGlobals][org.nx.notifications]
popupPosition=3

[Containments][103]
PreloadWeight=26
activityId=
formfactor=2
immutability=1
lastScreen=12
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][103][Applets][104]
immutability=1
plugin=org.kde.plasma.volume

[Containments][103][Applets][104][Configuration]
PreloadWeight=26

[Containments][103][Applets][106]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][103][Applets][106][Configuration]
PreloadWeight=26

[Containments][103][Applets][107]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][103][Applets][107][Configuration]
PreloadWeight=26

[Containments][103][Applets][108]
immutability=1
plugin=org.kde.kdeconnect

[Containments][103][Applets][108][Configuration]
PreloadWeight=26

[Containments][103][Applets][110]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][103][Applets][110][Configuration]
PreloadWeight=100

[Containments][103][Applets][111]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][103][Applets][111][Configuration]
PreloadWeight=26

[Containments][103][Applets][112]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][103][Applets][112][Configuration]
PreloadWeight=26

[Containments][103][Applets][113]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][103][Applets][113][Configuration]
PreloadWeight=26

[Containments][103][Applets][115]
immutability=1
plugin=org.kde.plasma.battery

[Containments][103][Applets][115][Configuration]
PreloadWeight=31

[Containments][103][Applets][116]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][103][Applets][116][Configuration]
PreloadWeight=26

[Containments][103][Applets][117]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][103][Applets][117][Configuration]
PreloadWeight=31

[Containments][103][Applets][118]
immutability=1
plugin=org.kde.kscreen

[Containments][103][Applets][118][Configuration]
PreloadWeight=26

[Containments][103][Applets][120]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][103][Applets][120][Configuration]
PreloadWeight=15

[Containments][103][ConfigDialog]
DialogHeight=669
DialogWidth=1118

[Containments][103][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.clipboard,org.kde.kdeconnect,org.kde.plasma.notifications,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier,org.kde.plasma.nightcolorcontrol,org.kde.kscreen
hiddenItems=org.kde.kscreen,org.kde.plasma.nightcolorcontrol,org.kde.plasma.clipboard
knownItems=org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.keyboardlayout,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.clipboard,org.kde.kdeconnect,org.kde.plasma.vault,org.kde.plasma.notifications,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier,org.kde.plasma.nightcolorcontrol
scaleIconsToFit=true
shownItems=TelegramDesktop,org.kde.plasma.battery,org.kde.plasma.networkmanagement,org.kde.plasma.volume

[Containments][12]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=12
layoutId=
location=4
maxLength=50
name=
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=400
timerShow=0
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][12][Applets][40]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][12][Applets][40][Configuration]
PreloadWeight=0

[Containments][12][Applets][40][Configuration][General]
groupingAppIdBlacklist=google-chrome.desktop,code-oss.desktop,firefox.desktop,org.inkscape.Inkscape.desktop,visual-studio-code.desktop
groupingLauncherUrlBlacklist=applications:code-oss.desktop,applications:google-chrome.desktop,applications:visual-studio-code.desktop,applications:firefox.desktop,applications:org.inkscape.Inkscape.desktop
hoverAction=PreviewWindows
infoBadgeProminentColorEnabled=true
isInLatteDock=true
manualScrollTasksType=Disabled
showOnlyCurrentDesktop=true
showOnlyCurrentScreen=true
showWindowActions=true

[Containments][12][Applets][42]
immutability=1
plugin=org.kde.plasma.notes

[Containments][12][Applets][42][Configuration]
PreloadWeight=0

[Containments][12][Applets][42][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][12][Applets][42][Configuration][General]
color=translucent-light
fontSize=11
noteId=41fb3fd2-b25e-4956-a63b-8a7c428667

[Containments][12][Applets][43]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][12][Applets][43][Configuration]
PreloadWeight=100

[Containments][12][Applets][43][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=960

[Containments][12][Applets][43][Configuration][General]
alphaSort=true
customButtonImage=/home/pablo/.local/share/icons/EndeavourOS-icon.png
favoriteSystemActions=logout
favoritesPortedToKAstats=true
recentOrdering=1
showRecentDocs=false
useCustomButtonImage=true
useExtraRunners=false

[Containments][12][Configuration]
PreloadWeight=0

[Containments][12][General]
alignmentUpgraded=true
appletOrder=43;40;42
backgroundAllCorners=true
backgroundRadius=50
configurationSticker=true
durationTime=x1
floatingInternalGapIsForced=2
iconSize=60
inConfigureAppletsMode=true
lengthExtMargin=8
maxLength=50
panelOutline=true
panelShadows=false
panelSize=4
panelTransparency=70
screenEdgeMargin=2
scrollAction=ScrollTasks
shadowOpacity=40
shadowSize=15
shadowsUpgraded=true
tasksUpgraded=true
thickMargin=16
useThemePanel=false
zoomLevel=14

[Containments][12][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][12][Indicator][org.kde.latte.default][General]
extraDotOnActive=true
glowApplyTo=OnActive
glowEnabled=true
glowOpacity=0.05
size=0.08

[Containments][13]
PreloadWeight=26
activityId=
formfactor=2
immutability=1
lastScreen=10
layoutId=
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][13][Applets][119]
immutability=1
plugin=org.kde.plasma.mediacontroller

[Containments][13][Applets][119][Configuration]
PreloadWeight=10

[Containments][13][Applets][45]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][13][Applets][45][Configuration]
PreloadWeight=26

[Containments][13][Applets][46]
immutability=1
plugin=org.kde.plasma.volume

[Containments][13][Applets][46][Configuration]
PreloadWeight=26

[Containments][13][Applets][47]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][13][Applets][47][Configuration]
PreloadWeight=26

[Containments][13][Applets][49]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][13][Applets][49][Configuration]
PreloadWeight=26

[Containments][13][Applets][50]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][13][Applets][50][Configuration]
PreloadWeight=26

[Containments][13][Applets][51]
immutability=1
plugin=org.kde.plasma.bluetooth

[Containments][13][Applets][51][Configuration]
PreloadWeight=26

[Containments][13][Applets][52]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][13][Applets][52][Configuration]
PreloadWeight=26

[Containments][13][Applets][53]
immutability=1
plugin=org.kde.kdeconnect

[Containments][13][Applets][53][Configuration]
PreloadWeight=26

[Containments][13][Applets][54]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][13][Applets][54][Configuration]
PreloadWeight=51

[Containments][13][Applets][55]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][13][Applets][55][Configuration]
PreloadWeight=26

[Containments][13][Applets][56]
immutability=1
plugin=org.kde.plasma.battery

[Containments][13][Applets][56][Configuration]
PreloadWeight=26

[Containments][13][Applets][57]
immutability=1
plugin=org.kde.kscreen

[Containments][13][Applets][57][Configuration]
PreloadWeight=26

[Containments][13][ConfigDialog]
DialogHeight=669
DialogWidth=1118

[Containments][13][General]
extraItems=org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.clipboard,org.kde.kdeconnect,org.kde.plasma.notifications,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier,org.kde.plasma.nightcolorcontrol,org.kde.kscreen
hiddenItems=org.kde.kscreen,org.kde.plasma.nightcolorcontrol,org.kde.plasma.clipboard
knownItems=org.kde.plasma.mediacontroller,org.kde.plasma.volume,org.kde.plasma.keyboardlayout,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.printmanager,org.kde.plasma.clipboard,org.kde.kdeconnect,org.kde.plasma.vault,org.kde.plasma.notifications,org.kde.plasma.networkmanagement,org.kde.plasma.keyboardindicator,org.kde.plasma.devicenotifier,org.kde.plasma.nightcolorcontrol
scaleIconsToFit=true
shownItems=TelegramDesktop,org.kde.plasma.battery,org.kde.plasma.networkmanagement,org.kde.plasma.volume

[Containments][14]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=3
maxLength=99
name=
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=0
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][14][Applets][58]
immutability=1
plugin=org.kde.windowappmenu

[Containments][14][Applets][58][Configuration]
PreloadWeight=0

[Containments][14][Applets][58][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=960

[Containments][14][Applets][58][Configuration][General]
containmentType=Latte
fillWidth=true
filterByScreen=true
selectedScheme=_current_
spacing=4
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][14][Applets][59]
immutability=1
plugin=org.kde.windowbuttons

[Containments][14][Applets][59][Configuration]
PreloadWeight=0

[Containments][14][Applets][59][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=1506

[Containments][14][Applets][59][Configuration][General]
buttonSizePercentage=78
buttons=3|4|5|10|9|2
containmentType=Latte
inactiveStateEnabled=true
lengthFirstMargin=10
lengthLastMargin=10
lengthMarginsLock=false
spacing=15
useDecorationMetrics=false
visibility=ActiveMaximizedWindow

[Containments][14][Applets][60]
immutability=1
plugin=org.kde.windowtitle

[Containments][14][Applets][60][Configuration]
PreloadWeight=0

[Containments][14][Applets][60][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][14][Applets][60][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
iconFillThickness=false
iconSize=21
lengthFirstMargin=8
lengthLastMargin=4
lengthMarginsLock=false

[Containments][14][Applets][61]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][14][Applets][61][Configuration]
PreloadWeight=71
SystrayContainmentId=13

[Containments][14][Applets][62]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][14][Applets][62][Configuration]
PreloadWeight=0

[Containments][14][Applets][62][Configuration][Agenda]
agendaBreakupMultiDayEvents=true
agendaNewEventLastCalendarId=pablonoya18@gmail.com

[Containments][14][Applets][62][Configuration][Calendar]
monthEventBadgeType=bottomBar
month_eventbadge_type=bottomBar

[Containments][14][Applets][62][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][14][Applets][62][Configuration][General]
bottomRowHeight=500
clockMaxHeight=16
clockTimeFormat1=ddd dd hh:mm
clock_maxheight=16
clock_timeformat=ddd dd hh:mm
leftColumnWidth=500
rightColumnWidth=450
v71Migration=true

[Containments][14][Applets][62][Configuration][Google Calendar]

[Containments][14][Applets][62][Configuration][Weather]
meteogramHours=18
openWeatherMapCityId=3903987

[Containments][14][Configuration]
PreloadWeight=0

[Containments][14][General]
alignment=10
alignmentUpgraded=true
animationsEnabled=false
appletOrder=60;58;62;61;59
appletShadowsEnabled=false
backgroundAllCorners=true
backgroundRadius=40
blurEnabled=false
dragActiveWindowEnabled=true
floatingGapHidingWaitsMouse=true
floatingGapIsMirrored=true
hideFloatingGapForMaximized=true
iconSize=22
inConfigureAppletsMode=true
maxLength=99
panelShadows=false
panelSize=100
panelTransparency=80
screenEdgeMargin=4
shadowsUpgraded=true
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
userBlocksColorizingApplets=61
windowColors=ActiveWindowColors
zoomLevel=0

[Containments][14][Indicator]
customType=
enabled=true
type=org.kde.latte.plasma

[Containments][14][Indicator][org.kde.latte.default][General]
enabledForApplets=false

[Containments][15]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=50
name=
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=400
timerShow=0
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][15][Applets][63]
immutability=1
plugin=org.kde.plasma.notes

[Containments][15][Applets][63][Configuration]
PreloadWeight=0

[Containments][15][Applets][63][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][15][Applets][63][Configuration][General]
color=translucent-light
fontSize=11
noteId=41fb3fd2-b25e-4956-a63b-8a7c428667

[Containments][15][Applets][64]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][15][Applets][64][Configuration]
PreloadWeight=0

[Containments][15][Applets][64][Configuration][General]
groupingAppIdBlacklist=google-chrome.desktop,code-oss.desktop,firefox.desktop,org.inkscape.Inkscape.desktop,visual-studio-code.desktop
groupingLauncherUrlBlacklist=applications:code-oss.desktop,applications:google-chrome.desktop,applications:visual-studio-code.desktop,applications:firefox.desktop,applications:org.inkscape.Inkscape.desktop
hoverAction=PreviewWindows
infoBadgeProminentColorEnabled=true
isInLatteDock=true
manualScrollTasksType=Disabled
showOnlyCurrentDesktop=true
showOnlyCurrentScreen=true
showWindowActions=true

[Containments][15][Applets][65]
immutability=1
plugin=org.kde.plasma.kickerdash

[Containments][15][Applets][65][Configuration]
PreloadWeight=27

[Containments][15][Applets][65][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=960

[Containments][15][Applets][65][Configuration][General]
alphaSort=true
customButtonImage=/home/pablo/.local/share/icons/EndeavourOS-icon.png
favoriteSystemActions=logout
favoritesPortedToKAstats=true
recentOrdering=1
showRecentDocs=false
useCustomButtonImage=true
useExtraRunners=false

[Containments][15][Configuration]
PreloadWeight=0

[Containments][15][General]
alignment=0
alignmentUpgraded=true
appletOrder=65;64;63
backgroundAllCorners=true
backgroundRadius=50
configurationSticker=true
durationTime=x1
floatingInternalGapIsForced=2
iconSize=60
inConfigureAppletsMode=true
lengthExtMargin=8
maxLength=50
panelOutline=true
panelShadows=false
panelSize=4
panelTransparency=70
screenEdgeMargin=2
scrollAction=ScrollTasks
shadowOpacity=40
shadowSize=15
shadowsUpgraded=true
tasksUpgraded=true
thickMargin=16
useThemePanel=false
zoomLevel=14

[Containments][15][Indicator]
customType=
enabled=true
type=org.kde.latte.default

[Containments][15][Indicator][org.kde.latte.default][General]
extraDotOnActive=true
glowApplyTo=OnActive
glowEnabled=true
glowOpacity=0.05
size=0.08

[Containments][19]
activityId=
byPassWM=false
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=12
layoutId=
location=3
maxLength=100
name=
onPrimary=false
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
timerHide=700
timerShow=0
viewType=0
visibility=0
wallpaperplugin=org.kde.image

[Containments][19][Applets][101]
immutability=1
plugin=org.kde.windowbuttons

[Containments][19][Applets][101][Configuration]
PreloadWeight=0

[Containments][19][Applets][101][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=1506

[Containments][19][Applets][101][Configuration][General]
buttonSizePercentage=78
buttons=3|4|5|10|9|2
containmentType=Latte
inactiveStateEnabled=true
lengthFirstMargin=10
lengthLastMargin=10
lengthMarginsLock=false
spacing=15
useDecorationMetrics=false
visibility=ActiveWindow

[Containments][19][Applets][102]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][19][Applets][102][Configuration]
PreloadWeight=100
SystrayContainmentId=103

[Containments][19][Applets][96]
immutability=1
plugin=org.kde.windowtitle

[Containments][19][Applets][96][Configuration]
PreloadWeight=0

[Containments][19][Applets][96][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][19][Applets][96][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
iconFillThickness=false
iconSize=21
lengthFirstMargin=8
lengthLastMargin=4
lengthMarginsLock=false

[Containments][19][Applets][97]
immutability=1
plugin=org.kde.plasma.eventcalendar

[Containments][19][Applets][97][Configuration]
PreloadWeight=19

[Containments][19][Applets][97][Configuration][Agenda]
agendaBreakupMultiDayEvents=true
agendaNewEventLastCalendarId=pablonoya18@gmail.com

[Containments][19][Applets][97][Configuration][Calendar]
monthEventBadgeType=bottomBar
month_eventbadge_type=bottomBar

[Containments][19][Applets][97][Configuration][ConfigDialog]
DialogHeight=660
DialogWidth=880

[Containments][19][Applets][97][Configuration][General]
bottomRowHeight=500
clockMaxHeight=16
clockTimeFormat1=ddd dd hh:mm
clock_maxheight=16
clock_timeformat=ddd dd hh:mm
leftColumnWidth=500
rightColumnWidth=450
v71Migration=true

[Containments][19][Applets][97][Configuration][Weather]
meteogramHours=18
openWeatherMapCityId=3903987

[Containments][19][Applets][98]
immutability=1
plugin=org.kde.windowappmenu

[Containments][19][Applets][98][Configuration]
PreloadWeight=0

[Containments][19][Applets][98][Configuration][ConfigDialog]
DialogHeight=744
DialogWidth=960

[Containments][19][Applets][98][Configuration][General]
containmentType=Latte
fillWidth=true
filterByScreen=true
selectedScheme=_current_
spacing=4
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][19][Configuration]
PreloadWeight=0

[Containments][19][General]
alignment=10
alignmentUpgraded=true
animationsEnabled=false
appletOrder=96;98;97;102;101
appletShadowsEnabled=false
backgroundAllCorners=true
backgroundRadius=40
blurEnabled=false
dragActiveWindowEnabled=true
floatingGapHidingWaitsMouse=true
hideFloatingGapForMaximized=true
iconSize=22
inConfigureAppletsMode=true
maxLength=99
panelShadows=false
panelSize=100
panelTransparency=80
screenEdgeMargin=4
shadowsUpgraded=true
splitterPosition=3
splitterPosition2=4
tasksUpgraded=true
zoomLevel=0

[Containments][19][Indicator]
customType=
enabled=true
type=org.kde.latte.plasma

[Containments][19][Indicator][org.kde.latte.default][General]
enabledForApplets=false

[LayoutSettings]
activities=
backgroundStyle=0
color=blue
customBackground=
customTextColor=
disableBordersForMaximizedWindows=true
icon=
lastUsedActivity=d907819b-4894-453d-81da-ba2100261ace
launchers=
popUpMargin=-1
preferredForShortcutsTouched=true
schemeFile=
showInMenu=true
version=2
